*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
    --texto: hsl(320, 69%, 42%);
    --bg-fundo: hsl(283, 47%, 97%);
    --bg-color: linear-gradient(90deg, rgba(52,49,147,1) 0%, rgba(48,44,99,1) 100%);
    --input: rgba(52,49,147,1);
}
.container{
    width: 42rem;
    margin: auto;
    color: var(--texto);
}
header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
header svg{
    width: 36.4rem;
    height: 37rem;
    object-fit: cover;
}
h1{
    color: var(--bg-color);
    margin-top: 1.7rem;
    font-size: 3.2rem;
    font-weight: 800;
}
h1, p{
    text-align: center;
}
p{
    font-size: 2rem;
    font-weight: 600;
}
.sec-img{
    display: flex;
    align-items: center; /* Para alinhar verticalmente */
    justify-content: center;
}
.seta{
    width: 5.8rem;
    height: 10rem;
    margin: 3.5rem 0 9.3rem;
}
.section-content{
    background: var(--bg-color);
}
.section-wrapper{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
main section{
    background: var(--bg-fundo);
    border-radius: 2rem;
    max-width: 35rem;
    padding: 2.64rem;
}
main section img{
    margin-bottom: 3.3rem;
}
main section h2{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
main section p{
    font-size: 1.6rem;
    text-align: start;

}
form h1{
    text-align: start;
    margin: 7.8rem 0 4.3rem;
}
form{
    padding: 4rem;
}
.input-wrapper, textarea{
    border: 2px solid var(--input);
    border-radius: 1.6rem;
    align-items: center;
    display: flex;
    gap: 12px;
    font-size: 1.6rem;
    color: var(--input-color);
    margin-bottom: 2.4rem;
    padding: 1.5rem;
}
form textarea{
    width: 100%;
    height: 12rem;
}
form button{
    color: var(--bg-fundo);
    background: var(--input);
    border-radius: 1.6rem;
    padding: 2rem;
    border: none;
    font-size: 1.6rem;
}
button:hover{
    background: var(--texto);
}
input{
    width: 100%;
    padding: 1rem;
    border: none; 
}
.star{ 
    display: none;
}
footer{
    background: var(--bg-color);
    color: var(--bg-fundo);
    padding: 3rem;
    margin-top: 6.5rem;
}

@media only screen and (min-width: 1024px) {
    .container{
        width: 100%;
    }
    .header-content{
        width: 100%;
        
        margin-bottom: 10.3rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    header{
        width: 112rem;
        margin: auto;
        white-space: nowrap;     
    }
    header h1{
        font-size: 5.5rem;
        margin: 0;
    }
    header p{
        font-size: 2.8rem;
        margin: 0;
    }
    header svg{
        width: 100%;
        height: 100%;
    }
    .sec-text{
        margin-top: 21.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .seta{
        margin-top: 17.9rem;
        padding: 0;
    }
    main{
        margin-top: 0;
    }
    .section-content{
        width: 100%;
    }
    .section-wrapper{
        width: 112rem;
        margin: 0 auto;
        flex-direction: row;
        padding: 6.4rem 0;
        justify-content: space-between;
    }
    .contact {
        display: flex;
        width: 112rem;
        margin: auto;
        justify-content: space-between;
      }
      form {
        width: 50%;
        padding: 0;
        justify-content: space-between;
      }
      .star {
        width: 66rem;
        
        display: block;
        position: absolute;
        right: 0;
    }
      footer{
        height: 7.8rem;
      }
      footer p{
        margin-top: 0;
      }
    
  }