*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
    --texto-color: hsl(320, 69%, 42%);
    --bg-fundo: hsl(283, 47%, 97%);
    --input-color: hsl(244, 38%, 28%);
}
.container{
    width: 42rem;
    margin: auto;
    
    color: var(--texto-color);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header svg{
    width: 100%;
    object-fit: cover;
}
h1{
    margin-top: 1.7rem;
    font-size: 3.2rem;
    font-weight: 800;
}
h1, p{
    text-align: center;
}
p{
    font-size: 2rem;
    font-weight: 600;
}
section .seta{
    width: 5.8rem;
    margin: auto;
    display: flex;
    padding: 3.5rem 0 9.3rem;
}
.section-wrapper{
    background: #343193;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
main section{
    background-color: var(--bg-fundo);
    border-radius: 2rem;
    max-width: 35rem;
    padding: 2.64rem;
}
main section img{
    margin-bottom: 3.3rem;
}
main section h2{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
main section p{
    font-size: 1.6rem;
    text-align: start;

}
form h1{
    text-align: start;
    margin: 7.8rem 0 4.3rem;
}
form{
    padding: 4rem;
}
.input-wrapper, textarea{
    border: 2px solid var(--input-color);
    border-radius: 1.6rem;
    align-items: center;
    display: flex;
    gap: 12px;
    font-size: 1.6rem;
    color: var(--input-color);
    margin-bottom: 2.4rem;
    padding: 1.5rem;
}
form textarea{
    width: 100%;
    height: 12rem;
}
form button{
    color: var(--bg-fundo);
    background-color: var(--input-color);
    border-radius: 1.6rem;
    padding: 2rem;
    border: none;
    font-size: 1.6rem;
}
button:hover{
    background-color: #f37c37;
}
input{
    all: unset;
}
.star{ 
    display: none;
}
footer{
    background-color: var(--input-color);
    color: var(--bg-fundo);
    padding: 3rem;
    margin-top: 6.5rem;
}

@media only screen and (min-width: 1024px) {
    .container{
        width: 100%;
    }
    .header-content{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 10rem;
        justify-content: space-between;
    }
    header{
        width: 144rem;
        margin: auto;
        
    }
    header h1{
        
        font-size: 5.8rem;
        margin: 0;
    }
    header p{
        font-size: 3.2rem;
        margin: 0;
    }
    .principal{
        width: 50%;
    }
    header section{
        margin-top: 31.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .section-content{
        width: 100%;
        background-color: #343193;
    }
    .section-wrapper{
        width: 144rem;
        margin: 0 auto;
        flex-direction: row;
        padding: 6.4rem 0;
        justify-content: space-between;
    }
    .contact {
        display: flex;
        width: 144rem;
        margin: auto;
        justify-content: space-between;
      }
      form {
        width: 50%;
        padding: 0;
        justify-content: space-between;
      }
      .star {
        display: flex;
        
        justify-content: space-between;
      }
      .star img{
        display: flex;
        object-fit: cover;
      }
      footer{
        height: 7.8rem;
        margin-top: 0;
      }
      footer p{
        margin-top: 0;
      }
    
  }